<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.full_address %>
</p>

<p>
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBV5HNJhSxRIxJhiWpJEEYXfo3renzoX6g
      &q=<%=@store.full_address %>" allowfullscreen>
  </iframe>
</p>
<p>
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyBV5HNJhSxRIxJhiWpJEEYXfo3renzoX6g
  &location=<%=@store.latitude %>,<%=@store.longitude %>
  &heading=210
  &pitch=10
  &fov=35" allowfullscreen>
  </iframe>
</p>

<%= link_to 'Back', stores_path %>
